.bg-secondary {
    background-color: #000;
    display: block;
}

.b {
    display: flex;
    justify-content: center;
    color: black;
    width: 100%;
    height: 30%;
    margin-bottom: 30px;
    background-color: whitesmoke;
}

.fp {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: small;

}