* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
}

.ban {
    border-radius: 2px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    padding: 20px;
}

.ban:hover {
    color: #20C997;
}

.photos {
    width: 20%;
    height: 100%;
    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.5s;
}

.container {
    padding-top: 100px;
    max-width: 600px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.container:hover .photos {
    opacity: 0.3;
}

.container .photos:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}

@media(max-width:768px) {
    .container {
        display: flex;
        align-items: center;
        image-rendering: auto;
    }
}

@media(max-width:578px) {

    body {
        place-items:center stretch;
    }
    
    .photos {
        width: 32%;
        height: 90%;
        object-fit: scale-down;
        .photos:hover{
        -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
        transform-origin: center;
        transform: perspective(800px) rotateY(25deg);
        transition: 0.5s;}
    }
    
    
    .container {
        padding: 50px;
        max-width: 800px;
        max-height: 800px;
        gap: 5px;
        align-items: stretch;
        
    }

    .ban {
        text-align: center;
}
}