footer {
    height: 100%;
    width: 100%;
    padding: 3% 3%;
    text-align: center;

}

span {
    font-weight: bold;
    color: $secondary-color;
}

.footer-social-media ul {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    height: 100%;
    list-style: none;

    @include mobile {
        display: none;
    }

    .li {
        text-decoration: none;
        width: max-content;
        margin-right: 2px;

    a:hover {
            color: white;
        }
    }
}